body {
  background: #000000;
}

.skewed-bg {
  background: #ffffff;
  -webkit-transform: skew(0deg, -5deg);
  transform: skew(0deg, -5deg);


}
.skewed-bg .content {
  -webkit-transform: skew(0deg, 5deg);
  transform: skew(0deg, 5deg);

}
.skewed-bg .content .title {
  padding-top: 0px;
  font-weight: normal;

}
.skewed-bg .content .text {
  width: 100%;
  margin: 0px auto;
  color: #ffffff;

}

.footer {
  bottom: 0;
  padding-bottom: 0px;
  text-align: center;

}
.footer .credits {
  text-align: center;
  color: #666;
  text-align: center;

}
.footer .credits .link {
  color: #00B285;
  text-decoration: none;

  text-align: center;

}


